<div class="container">
    <div class="row">
        <main class="col-md-12">

            <!-- Start your code here -->
            <form action="/courses/add" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <br>
                            <label for="courseCode">Course Code</label>
                            <input type="text" class="form-control" id="courseCode" name="courseCode" required>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <br>
                            <label for="courseDescription">Course Description</label>
                            <input type="text" class="form-control" id="courseDescription" name="courseDescription" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">Add Course</button>           
            </form>
            <!-- End your code here -->

        </main>
    </div>
</div>